<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Bonus</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="container">
    <p><a>
      BONUS - ELIJE LA CATEGORIA
    </a></p>
  </div>
  
  <div>
    <form action="/categories" autocomplete="on" method="post">
      <input class="button" type="submit" value="ARTE" name="option1">
      <input class="button" type="submit" value="CIENCIA" name="option2">
      <input class="button" type="submit" value="DEPORTES" name="option3">
      <input class="button" type="submit" value="HISTORIA" name="option4">
      <input class="button" type="submit" value="GEOGRAFIA" name="option5">
      <input class="button" type="submit" value="RECREACION" name="option6">
    </form>
  </div>


</body>
</html>

