<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Puntaje</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div >
    <p style="font-size:72px;color:blue;">
      Puntaje={{user_score}}
    </p>
  </div>
  
  <div>
    <form action="/score" autocomplete="on" method="post">
      <input class="button" type="submit" value="Volver al menu" name="option1">
    </form>
  </div>


</body>
</html>

