<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pregunta2 - Menu principal</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="container">
    <p><a href="">
      Pregunta2
    </a></p>
  </div>
  
  <div>
    <form action="/menu" autocomplete="on" method="post">
      <input class="button" type="submit" value="Modo Batalla" name="option1">
      <input class="button" type="submit" value="Modo por Turnos" name="option2">
      <input class="button" type="submit" value="Volver al menu" name="option3">
    </form>
  </div>


</body>
</html>

